<div id="comet_chat">
  <%= render @messages %>
</div>

<div id="bottomPanel">
  <%= form_for Message.new, :url => {:action => 'create'}, :remote => true do |f| %>
    <%= f.text_field :message_text, id: "message_text" %>
    <%= f.submit "Send" %>
  <% end %>
</div>

<div id="users_online">
</div>
