<h2 id="header">Welcome to Ajax Chat</h2>

<div id="middle">
  <div id="messages" class="content">
    <%= render :partial => 'messages' %>
  </div>

  <div id="new_message" class="content">
    <%= render :partial => 'new' %>
  </div>
</div>

<div id="users_online">
  <%= render :partial => 'users_online' %>
</div>
